---
import Base from "../layouts/Base.astro";
---
<Base title="talks · n0t.space">
  <h1>talks</h1>
  <p>Slides &amp; recordings from conference talks.</p>
  <p>Who knows? Maybe in the future.</p>
  <ul>
    <!-- <li>YYYY-MM-DD - Venue - Title (<a href="">slides</a> · <a href="">video</a>)</li> -->
  </ul>
</Base>
